<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to image_tag('github.png', alt: "Github Logo"), 'https://github.com/joeypoon' %></li>
      <li><%= link_to image_tag('twitter.png', alt: "Twitter Logo"), 'https://twitter.com/JoeyFPoon' %></li>
      <li><%= link_to image_tag('linkedin.png', alt: "LinkedIn Logo"), 'https://www.linkedin.com/in/joeypoon' %></li>
    </ul>
  </nav>
</footer>
