<header>
  <div class="container">
    <%= link_to "Joey Poon", root_path, id: logo %>
    <nav>
      <ul>
        <li><%= link_to, </li>
        <li><a href="joeypoon.com/blog">Blog</a></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>
